{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}
<br>

<div style="margin-left: 30px; margin-right: 20px;">
  <div style="display: flex;">
    <div class="col-5">
      <h3><strong>{{course.CourseName}} </strong></h3>
      <h6>Feedback Page &nbsp; {% for r in range(course.CourseRating) %} <img src="/static/images/star.png" alt=""
          width="15px"> {% endfor %}</h6>
    </div>
    <div style="margin-right: 10px;">
     {% if image_data %}<div style="width: 50px; height: 50px; margin-left: 20px; border-radius: 50%; overflow: hidden; margin: auto; display: block;">
        <img src="data:image/jpeg;base64,{{ image_data }}" alt="Profile Picture" style="width: 100%; height: auto; display: block;">
    </div>{% else %} <img src="/static/images/user2.png" alt="" style="width: 50px;"> {% endif %} </strong>
    </div>
    {% if studentfeedback %}
   <div class="col-6">
     <div class="alert alert-dark" role="alert">
       <small>Thankyou you have already given your precious feedback!!</small>
     </div>
   </div>
    {% else %}
    <div class="col-6">
      <form class="d-flex" role="search" action="/feedback/{{course.CourseID}}" method="POST">
        <div class="form-floating">
          <textarea style="resize: vertical; width: 350px;" class="form-control" placeholder="Leave a comment here"
            id="floatingTextarea" name="feedback"></textarea>
          <label for="floatingTextarea"><small>Give your Feedback</small></label>
        </div>

        <div style="display: flex;">
          <div class="star">
            <input type="radio" id="five" name="rate" value="5">
            <label for="five"></label>
            <input type="radio" id="four" name="rate" value="4">
            <label for="four"></label>
            <input type="radio" id="three" name="rate" value="3">
            <label for="three"></label>
            <input type="radio" id="two" name="rate" value="2">
            <label for="two"></label>
            <input type="radio" id="one" name="rate" value="1">
            <label for="one"></label>
          </div>
        </div>
        <button class="btn btn-warning" type="submit"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; height: 35px; margin-top: 10px; margin-left: 10px;"><strong>Add
            feedback</strong></button>
      </form>
    </div>
    {% endif %}
  </div>
  <br>
  <div class="col-11" style="margin-left: 50px;">
    <div >
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <small>{{message}}</small>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>

   {% if feedbacks|length == 0  and  not studentfeedback %}
  <div>
    <div class="alert alert-secondary" role="alert">
      <small>No one rated till now be the first one!!</small>
    </div>
  </div>
  {% endif %}

  {% if studentfeedback %}
  <div style="display: flex; margin-left: 50px; margin-right: 50px;">
    <div class="card" style="width: 25.7rem; margin-right: 30px;  border-radius: 15px; border-color: #ffdd47; border-width: 3px;">
      <div class="card-body">
        <h6 class="card-title"><img src="/static/images/user.png" alt="" width="50px"> &nbsp;
          <strong>{{user.UserName}} </strong>
          &nbsp;
          <a class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/static/images/more.png" alt="" width="25">
          </a>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#feedbackedit{{user.UserID}}"
                title="feedbackedit"> <img src="/static/images/edit2.png" alt="" width="20px"> &nbsp;Edit</button></li>
            <li><button class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#feedbackdelete{{user.UserID}}"
                title="feedbackdelete"><img src="/static/images/delete.png" alt="" width="20"> &nbsp;Delete</button>
            </li>
          </ul> &nbsp; &nbsp; &nbsp; &nbsp;
          <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#feedback{{user.UserID}}" title="Create Account"
            style="margin-left: 120px; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color:#B10303; color: #f0f0f0;"><strong>seemore</strong></a>
        </h6><hr>
        <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size: smaller;">
          <strong>Rating:</strong>{% for r in range(studentfeedback.Ratings) %} <img
            src="/static/images/star.png" alt="" width="15px"> {% endfor %} 
          <small style="position: absolute; right: 5%;">({{studentfeedback.Timestamp}})</small>
        </h6>
        <p style="font-size: smaller;">{{studentfeedback.Feedback[:200]}}...</p>
      </div>
    </div>

    <!-- feedback Modal -->
    <div class="modal fade" id="feedback{{user.UserID}}" tabindex="-1" aria-labelledby="feedback{{user.UserID}}" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title fs-5" id="feedback">
              <h6 class="card-title"><img src="/static/images/user.png" alt="" width="50px"> <strong>{{user.UserName}}</strong>
              </h6>
            </h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size: smaller;">
                <strong>Rating:</strong>{% for r in range(studentfeedback.Ratings) %} <img
                  src="/static/images/star.png" alt="" width="15px"> {% endfor %}
                  <small style="position: absolute; right: 5%;">({{studentfeedback.Timestamp}})</small>
              </h6>
              <p style="font-size: smaller;">{{studentfeedback.Feedback}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- feedback Edit-->
    <div class="modal fade" id="feedbackedit{{user.UserID}}" tabindex="-1" aria-labelledby="feedbackedit{{user.UserID}}" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title fs-5" id="feedbackedit">
             Update You Feedback
              </h6>
            </h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card-body" >
              <form  role="search" action="/updatefeedback/{{studentfeedback.FeedbackID}}" method="POST">
                <h6>Your Feedback</h6>
                <div>
                    <textarea style="resize: vertical; width: 350px;" class="form-control" placeholder="Leave a comment here"
                        id="floatingTextarea" name="feedback">{{ studentfeedback.Feedback }}</textarea>
                </div>
                <h6>Your Rating</h6>
                <div style="display: flex;">
                    <div class="star">
                        <input type="radio" id="five" name="rate" value="5" {{ 'checked' if studentfeedback.Ratings == 5 else '' }}>
                        <label for="five"></label>
                        <input type="radio" id="four" name="rate" value="4" {{ 'checked' if studentfeedback.Ratings == 4 else '' }}>
                        <label for="four"></label>
                        <input type="radio" id="three" name="rate" value="3" {{ 'checked' if studentfeedback.Ratings == 3 else '' }}>
                        <label for="three"></label>
                        <input type="radio" id="two" name="rate" value="2" {{ 'checked' if studentfeedback.Ratings == 2 else '' }}>
                        <label for="two"></label>
                        <input type="radio" id="one" name="rate" value="1" {{ 'checked' if studentfeedback.Ratings == 1 else '' }}>
                        <label for="one"></label>
                    </div>
                </div>
                <button class="btn btn-warning" type="submit"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; height: 35px; margin-top: 10px;">
                    <strong>Update</strong>
                </button>
            </form>
            
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- feedback Delete -->
    <div class="modal fade" id="feedbackdelete{{user.UserID}}" tabindex="-1" aria-labelledby="feedbackdelete{{user.UserID}}" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered  modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <div class="card-body">
              <div class="card-body">
                <h5 class="card-title"><strong>Delete Feedback</strong></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size: smaller; margin-top: 5px;">Delete
                  feedback permanently</h6>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
            <a type="button" class="btn btn-sm btn-outline-secondary" href="/deletefeedback/{{studentfeedback.FeedbackID}}" >Delete</a>
          </div>
        </div>
      </div>
    </div>

    {% for i in feedbacks[:2] %}
    <div class="card" style="width: 25.7rem; margin-right: 30px; background-color: #f0f0f0; border-radius: 15px;">
      <div class="card-body">
        <h6 class="card-title"><img src="/static/images/user.png" alt="" width="50px"> &nbsp;<strong>{{i.user.UserName}}</strong>&nbsp; &nbsp; &nbsp; &nbsp;<a
            type="button" class="btn" data-bs-toggle="modal" data-bs-target="#feedback{{i.FeedbackID}}" title="Create Account"
            style="margin-left: 170px; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color:#B10303; color: #f0f0f0;"><strong>seemore</strong></a>
        </h6><hr>
        <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size: smaller;">
          <strong>Rating:</strong>{% for r in range(i.Ratings) %} <img
            src="/static/images/star.png" alt="" width="15px"> {% endfor %}
            <small style="position: absolute; right: 5%;">({{i.Timestamp}})</small>
        </h6>
        <p style="font-size: smaller;">{{i.Feedback[0:200]}}...</p>
      </div>
    </div>
    <!-- feedback Modal -->
    <div class="modal fade" id="feedback{{i.FeedbackID}}" tabindex="-1" aria-labelledby="feedback{{i.FeedbackID}}" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title fs-5" id="feedback">
              <h6 class="card-title"><img src="/static/images/user.png" alt="" width="50px"> <strong>{{i.user.UserName}}</strong>
              </h6>
            </h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size: smaller;">
                <strong>Rating:</strong>{% for r in range(i.Ratings) %} <img
                  src="/static/images/star.png" alt="" width="15px"> {% endfor %}
                  <small style="position: absolute; right: 5%;">({{i.Timestamp}})</small>
              </h6>
              <p style="font-size: smaller;">{{i.Feedback}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <br>
  {% for j in l %}
  <div style="display: flex; margin-left: 50px; margin-right: 50px;">
    {% for f in feedbacks[j:j+3] %}
    <div class="card" style="width: 25.7rem; margin-right: 30px; background-color: #f0f0f0; border-radius: 15px;">
      <div class="card-body">
        <h6 class="card-title"><img src="/static/images/user.png" alt="" width="50px"> &nbsp;<strong>{{f.user.UserName}}</strong>&nbsp; &nbsp; &nbsp; &nbsp;<a
            type="button" class="btn" data-bs-toggle="modal" data-bs-target="#feedback{{f.FeedbackID}}" title="Create Account"
            style="margin-left: 170px; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color:#B10303; color: #f0f0f0;"><strong>seemore</strong></a>
        </h6><hr>
        <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size: smaller;">
          <strong>Rating:</strong>{% for r in range(f.Ratings) %} <img
            src="/static/images/star.png" alt="" width="15px"> {% endfor %}
            <small style="position: absolute; right: 5%;">({{f.Timestamp}})</small>
        </h6>
        <p style="font-size: smaller;">{{f.Feedback[:200]}}...</p>
      </div>
      <!-- feedback Modal -->
    </div>
    <div class="modal fade" id="feedback{{f.FeedbackID}}" tabindex="-1" aria-labelledby="feedback{{f.FeedbackID}}" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title fs-5" id="feedback">
              <h6 class="card-title"><img src="/static/images/user.png" alt="" width="50px"> <strong>{{f.user.UserName}}</strong>
              </h6>
            </h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size: smaller;">
                <strong>Rating:</strong>{% for r in range(f.Ratings) %} <img
                  src="/static/images/star.png" alt="" width="15px"> {% endfor %}
                  <small style="position: absolute; right: 5%;">({{f.Timestamp}})</small>
              </h6>
              <p style="font-size: smaller;">{{f.Feedback}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div><br>
  {% endfor %}

</div>

{% endblock body %}