{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}
<br>
<div style="margin-left: 50px; display: flex;">
    <div style=" border-radius: 12px;  background-color: #f0f0f0; padding: 10px; width: 380px; padding-left: 1%;">
        <div style="text-align: center;"><h4><Strong>Recommended Courses</Strong></h4></div><hr>
        {% for course in courses[:4] %}
        <div><strong>{{course.CourseName}} </strong> &nbsp;<a href="{{course.Courselink}}" target="_blank"><img src="/static/images/share (1).png" alt="" style="width: 20px;"></a>
        <div style="margin-top: 10px; margin-bottom: 10px; font-size: smaller;">
            {{course.CourseDescription}}
        </div>
    <div style="color: gray; font-size: smaller;">
       <strong> by {{course.CourseProfessor}} </strong>
    </div></div><hr>
    {% endfor %}

    </div>

    <div class="col-8" style="margin-left: 50px;">
        <div >
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <small>{{message}}</small>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
      <br>      
      <h4 style="display: flex;"><strong>Feedback Pages</strong> &nbsp;&nbsp;   <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color:#B10303; color: #f0f0f0;">
          <strong>seemore</strong>
        </button>
        <ul class="dropdown-menu">
          {% for c in courses %}
          <li><a class="dropdown-item" href="/feedbackpage/{{c.CourseID}}">{{c.CourseName}}</a></li>
          {% endfor %}
        </ul>
      </div></h4>
    <div style="display: flex; margin-top: 20px;">
      {% for course in courses[:4] %}
        <div class="card" style="width: 14rem; height: 8rem; margin-right: 12px; background-color: #ffdd47;">
            <div class="card-body">
              <h6 class="card-title"><strong>{{course.CourseName}}</strong></h6>
              <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size: smaller;">{{course.CourseLevel}} Level</h6>
              <a type="button" class="btn" href="/feedbackpage/{{course.CourseID}}"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color:grey; color: #f0f0f0;position: absolute; top: 85px;"><strong>feedback</strong></a>
            </div>
          </div>
          {% endfor %}
    </div>
    <br>
      <h4><strong>Learning Path &nbsp;  <a type="button" class="btn" href="/seemorepath"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color:#B10303; color: #f0f0f0;"><strong>seemore</strong></a></strong></h4>
        <div style="display: flex; font-size: smaller;">
        <div><img src="/static/images/path2.jpg" alt="" style="width: 550px;"></div>
        <div style="margin-top: 70px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, doloremque nostrum! Velit deleniti debitis officia eveniet atque ab aliquam itaque tempora quam nesciunt quidem dignissimos, praesentium sint laudantium consequuntur. Rerum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ipsum harum veniam minima aperiam voluptatum quidem est facere delectus vero voluptates laborum iste sit eum, eaque nesciunt quae. Placeat, aspernatur!
        
        <div style="margin-top: 20px;">
          <h6><Strong>Pros</Strong></h6>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </li>
          <li>Repellendus, quod fugiat? Saepe minus quos blanditiis odit,</li> 
          <li>officiis natus repellendus voluptatum fugit asperiores est </li>
         <li> perspiciatis excepturi distinctio id sint quidem harum.</li>
        </div>
        <div style="margin-top: 20px;">
          <h6><Strong>Cons</Strong></h6>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </li>
          <li>Repellendus, quod fugiat? Saepe minus quos blanditiis odit,</li> 
          <li>officiis natus repellendus voluptatum fugit asperiores est </li>
         <li> perspiciatis excepturi distinctio id sint quidem harum.</li>
        </div>  
        </div>
     </div>
    </div>
</div>

{% endblock body %}