{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}
<br>
<div style="margin-left: 50px; display: flex;">
    <div style=" border-radius: 12px;  background-color: #f0f0f0; padding: 10px; width: 380px; padding-left: 1%;">
        <div style="text-align: center;"><h4><Strong>Recommended Courses</Strong></h4></div><hr>

        <div><strong>Mathematics for Data Science I</strong> &nbsp;<a href="https://study.iitm.ac.in/ds/course_pages/BSMA1001.html" target="_blank"><img src="/static/images/share (1).png" alt="" style="width: 20px;"></a>
        <div style="margin-top: 10px; margin-bottom: 10px; font-size: smaller;">
            This course introduces functions (straight lines, polynomials, exponentials and logarithms) and discrete mathematics (basics, graphs) with many examples. The students will be exposed to the idea of using abstract mathematical structures to represent concrete real life situations.
        </div>
    <div style="color: gray; font-size: smaller;">
       <strong> by Neelesh Upadhye , Madhavan Mukund</strong>
    </div></div><hr>

    <div><strong>Statistics for Data Science I</strong> &nbsp;<a href="https://study.iitm.ac.in/ds/course_pages/BSMA1002.html" target="_blank"><img src="/static/images/share (1).png" alt="" style="width: 20px;"></a>
        <div style="margin-top: 10px; margin-bottom: 10px; font-size: smaller;">
            The students will be introduced to large datasets. Using this data, the students will be introduced to various insights one can glean from the data. Basic concepts of probability also will be introduced during the course leading to a discussion on Random variables. 
        </div>
    <div style="color: gray; font-size: smaller;">
       <strong>by Usha Mohan</strong>
    </div></div><hr>

    <div><strong>Computational Thinking</strong> &nbsp;<a href="https://study.iitm.ac.in/ds/course_pages/BSCS1001.html" target="_blank"><img src="/static/images/share (1).png" alt="" style="width: 20px;"></a>
        <div style="margin-top: 10px; margin-bottom: 10px; font-size: smaller;">
            The students will be introduced to a number of programming concepts using illustrative examples which will be solved almost entirely manually. The manual execution of each solution allows for close inspection of the concepts being discussed.
        </div>
    <div style="color: gray; font-size: smaller;">
       <strong>by Madhavan Mukund , Dr. G Venkatesh</strong>
    </div></div><hr>

    <div><strong>English I</strong> &nbsp;<a href="https://study.iitm.ac.in/ds/course_pages/BSHS1001.html" target="_blank"><img src="/static/images/share (1).png" alt="" style="width: 20px;"></a>
        <div style="margin-top: 10px; margin-bottom: 10px; font-size: smaller;">
            This course aims at achieving fluency and confidence in spoken and written English. This course will use insights from theories of learning and dominant methods of teaching language.
        </div>
    <div style="color: gray; font-size: smaller;">
       <strong>by Rajesh Kumar , Karthika Sathyanathan</strong>
    </div></div>        
    </div>

    <div class="col-8" style="margin-left: 50px;"><br>
      <h4><strong>Feedback Pages &nbsp;  <a type="button" class="btn"
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color:#B10303; color: #f0f0f0;"><strong>seemore</strong></a></strong></h4>
    <div style="display: flex; margin-top: 20px;">
        <div class="card" style="width: 14rem; margin-right: 12px; background-color: #ffdd47;">
            <div class="card-body">
              <h6 class="card-title"><strong>Mathematics for Data Science I</strong></h6>
              <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size: smaller;">Foundation Level</h6>
              <a type="button" class="btn" href="/feedbackpage/Mathematics for Data Science I"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color:grey; color: #f0f0f0;"><strong>feedback</strong></a>
            </div>
          </div>

          <div class="card" style="width: 14rem;margin-right: 12px; background-color:#ffdd47;">
            <div class="card-body">
              <h6 class="card-title"><strong>Statistics for Data Science I</strong></h6>
              <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size: smaller;">Foundation Level</h6>
              <a type="button" class="btn" href="/feedbackpage/Statistics for Data Science I"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color:grey; color: #f0f0f0;"><strong>feedback</strong></a>
            </div>
          </div>

          <div class="card" style="width: 14rem;margin-right: 12px; background-color: #ffdd47;">
            <div class="card-body">
              <h6 class="card-title"><strong>Computational Thinking</strong></h6>
              <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size: smaller;">Foundation Level</h6>
              <a type="button" class="btn" href="/feedbackpage/Computational Thinking"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;  position: absolute; bottom: 14%; background-color:grey; color: #f0f0f0;"><strong>feedback</strong></a>
            </div>
          </div>

          <div class="card" style="width: 14rem; background-color: #ffdd47;">
            <div class="card-body">
              <h6 class="card-title"><strong>English I</strong></h6>
              <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size: smaller;">Foundation Level</h6>
              <a type="button" class="btn" href="/feedbackpage/English I"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color:grey; color: #f0f0f0;position: absolute; bottom:14%;"><strong>feedback</strong></a>
            </div>
          </div>
    </div>
    <br>
      <h4><strong>Learning Path &nbsp;  <a type="button" class="btn"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color:#B10303; color: #f0f0f0;"><strong>seemore</strong></a></strong></h4>
        <div style="display: flex; font-size: smaller;">
        <div><img src="/static/images/path2.jpg" alt="" style="width: 550px;"></div>
        <div style="margin-top: 70px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, doloremque nostrum! Velit deleniti debitis officia eveniet atque ab aliquam itaque tempora quam nesciunt quidem dignissimos, praesentium sint laudantium consequuntur. Rerum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ipsum harum veniam minima aperiam voluptatum quidem est facere delectus vero voluptates laborum iste sit eum, eaque nesciunt quae. Placeat, aspernatur!
        
        <div style="margin-top: 20px;">
          <h6><Strong>Pros</Strong></h6>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </li>
          <li>Repellendus, quod fugiat? Saepe minus quos blanditiis odit,</li> 
          <li>officiis natus repellendus voluptatum fugit asperiores est </li>
         <li> perspiciatis excepturi distinctio id sint quidem harum.</li>
        </div>
        <div style="margin-top: 20px;">
          <h6><Strong>Cons</Strong></h6>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </li>
          <li>Repellendus, quod fugiat? Saepe minus quos blanditiis odit,</li> 
          <li>officiis natus repellendus voluptatum fugit asperiores est </li>
         <li> perspiciatis excepturi distinctio id sint quidem harum.</li>
        </div>  
        </div>
     </div>
    </div>
</div>

{% endblock body %}